body{
    background-image: url("http://www.lanrentuku.com/savepic/img/allimg/1206/5-120601094409-50.gif");
}

.topbar{
    background-color:#2c2525;
    text-align:center;
    height: 5rem;
}

.topbar::before{
    content:'';
    width:0;
    height:100%;
    display:inline-block;
    position:relative;
    vertical-align:middle;
  }

.input{
    vertical-align: middle;
    display:inline-block;
}

.news{
    margin:0px auto;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.news h4 a{
    text-align: left;
}

.news h6 a{
    color: #016813;
}

.news h4 small{
    text-align: right;
}

.page{
    width: 30%
}